NEURON/x86_64
\#*
*.*~
.ropeproject
*.log
.ipynb_checkpoints/

neuroConstruct/generated*
neuroConstruct/simulations
neuroConstruct/savedNetworks
/NEURON/nrn_ghk.dat
/NEURON/nrn_nernst.dat
/NeuroML2/*.mod
/NeuroML2/*.hoc
/NeuroML2/*nrn.py
/NeuroML2/x86_64
/NeuroML2/*.dat
/NeuroML2/LEMS_nernst_na_k_ca_netpyne.py
/NeuroML2/LEMS_nernst_na_k_ca_netpyne.py_main.json
arm64
